
<header class="head"></header>


<div class="navigation-bar">
    <div class="left-section">
      <h1><span id= "traveltrackerheader">TravelTracker</span></h1>
    </div>
    <div class="right-section">
      <div class="profile-container">
        <nav>
        
        @if (authService.currentUserSig() == null) {
          <div class="profile-photo"><img alt="avatar" class="avatar" src="https://www.svgrepo.com/show/452030/avatar-default.svg"/></div>
          <ul>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
          </ul>
        }
        @if (authService.currentUserSig()) {
          <div class="profile-photo"><img alt="avatar" class="avatar" src="https://www.svgrepo.com/show/452030/avatar-default.svg"/></div>
          <ul>
            <li><a href=''> Welcome {{ authService.currentUserSig()?.username }} </a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        }
        </nav>
      </div>
    </div>
</div>

  <nav>
    <ul>
      <li><a href=''>Home</a></li>
      @if (authService.currentUserSig()) {
        <li><a href='project-list'>My Trips</a></li>
      }
      <li><a href='#'>About</a></li>
      <a href="#" id="menu-icon"></a>
    </ul>
  </nav>


<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>© 2024 Alex Bocchi </p>
</footer>



  

