
<header class="head">
  <div class="navigation-bar">
      <div class="left-section">
        <h1><span id= "traveltrackerheader">TravelTracker</span></h1>
      </div>
      <div class="right-section">
        <div class="profile-container">
          <nav>
          <div class="profile-photo"></div>
          
            <ul>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
            </ul>
          </nav>
        </div>
      </div>
  </div>

    <nav>
      <ul>
        <li><a href=#>Home</a></li>
        <li><a href=#>About</a></li>
        <a href="#" id="menu-icon"></a>
      </ul>
    </nav>
  
  </header>
