/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    text-justify: justify;
    background-color: #a3defa9c;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #81d0f5;
}
